<% content_for :head do %>
   <%= stylesheet_link_tag :squeezes -%>
<% end %>

<section class="container main">
  <section class="left col-md-4">
    <article class="profile box">
      <div class="wrapper col-md-10">
        <div class="description">
          <%= image_tag "intro-bg1.jpg", class: "img-rounded" %>
          <header>
            <h4>Aitor Palacios</h4>
            <h6><%= @user.username %></h6>
          </header>
        </div>
      </div>
      <div class="info col-md-10 bold">
        <ul>
          <li class="col-md-4">Squeezes</li>
          <li class="col-md-4">Followers</li>
          <li class="col-md-4">Following</li>
        </ul>
        <ul>
          <% cache @user do %>
            <li class="col-md-4"><%= @user.squeezes.count %></li>
            <li class="col-md-4"><%= @user.followers.count %></li>
            <li class="col-md-4"><%= @user.followed_users.count %></li>
          <% end %>
        </ul>
      </div>
      <div class="actions col-md-10">
        <%= link_to "New Squeeze", new_squeeze_path, class: "btn" %>
      </div>
    </article>

    <article class="most-voted box">
      <h3>Most voted</h3>
    </article>
  </section>

  <section class="squeezes-all col-md-8">
    <h2>Last Squeezes</h2>
    <% @last_squeezes.each do |squeeze| %>
      <% cache squeeze do %>
        <article class="squeeze">
          <div class="info">
            <span></span>
            <span><%= link_to squeeze.user.username, squeeze.user %></span>
            <span><%= l squeeze.created_at, format: :short %></span>
            
            
          </div>
          <div class="content">
            <h3><%= link_to squeeze.title, squeeze %></h3>
            <p><%= squeeze.content.to_s.truncate(120, omission: '...') %></p>
          </div>
        </article>
      <% end %>
    <% end %>
  </section>
</section>

