<section class="wrapper">
  <article class="squeeze">
    <div class="info">
      <header><h1><%= @squeeze.title.capitalize %></h1></header>
      <p>Publicado por <%= link_to @squeeze.user.email.split('@')[0], :controller => "squeezes", :action => "index", :id => @squeeze.user.id %> el <%= @squeeze.published_at.day %> de <%= I18n.t("date.month_names")[@squeeze.published_at.month] %> de <%= @squeeze.published_at.year%></p>
    </div>
    <%= @squeeze.content %>
</section>